* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #1B1B1B;
}
body::-webkit-scrollbar {
  display: none;
}
body .header .header__container div {
  position: fixed;
  cursor: pointer;
  width: 6vw;
  height: 0vh;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: end;
  justify-content: center;
}
body .header .header__container div .name {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 7rem;
}
body .header .header__container div .name.pNosotros {
  position: relative;
}
body .header .header__container div .name.pNosotros::before {
  content: "";
  position: absolute;
  background: url(/images/mas.png);
  background-size: cover;
  width: 3rem;
  height: 34px;
  top: -45px;
  left: 3px;
}
body .header .header__container div .name.pServicios {
  position: relative;
}
body .header .header__container div .name.pServicios::before {
  content: "";
  position: absolute;
  background: url(/images/flechita.png);
  background-size: cover;
  width: 3rem;
  height: 23px;
  top: -45px;
  left: 6px;
  transform: rotate(78deg);
}
body .header .header__container div#nosotros {
  background-color: #FF8888;
  z-index: 10;
  transition: all 0.7s ease;
}
body .header .header__container div#servicios {
  background-color: #0054F0;
  left: 6vw;
  z-index: 9;
  transition: all 0.7s ease;
}
body .header .header__container div#home {
  background-color: #00E37F;
  left: 0;
  z-index: 8;
  transition: all 0.7s ease;
}
body .header .header__container--content {
  padding: 0 19vw;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header .header__container--content .content--logo img {
  height: 6rem;
  filter: brightness(100) grayscale(1);
}
body .header .header__container--content .content--contacto a {
  background-color: #FF8888;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4rem;
  text-decoration: none;
  gap: 7rem;
  padding: 0.7rem 1rem;
}
body .header .header__container--content .content--contacto a p {
  margin: 0;
}
body #sectionHome, body #sectionNosotros, body #sectionServicios {
  color: white;
  display: none;
}
body #sectionHome.active, body #sectionNosotros.active, body #sectionServicios.active {
  display: block;
}
body #sectionHome .header__container--content, body #sectionNosotros .header__container--content, body #sectionServicios .header__container--content {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #sectionHome .header__container--content .content--logo img, body #sectionNosotros .header__container--content .content--logo img, body #sectionServicios .header__container--content .content--logo img {
  height: 6rem;
  filter: brightness(100) grayscale(1);
}
body #sectionHome .header__container--content .content--contacto a, body #sectionNosotros .header__container--content .content--contacto a, body #sectionServicios .header__container--content .content--contacto a {
  background-color: #FF8888;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4rem;
  text-decoration: none;
  gap: 7rem;
  padding: 0.7rem 1rem;
}
body #sectionHome .header__container--content .content--contacto a p, body #sectionNosotros .header__container--content .content--contacto a p, body #sectionServicios .header__container--content .content--contacto a p {
  margin: 0;
}
body #sectionHome .home__container {
  padding-left: 20vw;
  padding-right: 4vw;
}
body #sectionHome .home__container .home__container--hero {
  height: 75vh;
}
body #sectionHome .home__container .home__container--hero .hero__content {
  margin-top: 10rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title {
  line-height: 9rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p {
  color: white;
  font-weight: 900;
  font-size: 8rem;
  margin: 0;
  position: relative;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p:nth-of-type(1)::after {
  position: absolute;
  content: "";
  background: url(/images/Capa\ 23.png);
  background-size: cover;
  top: -3rem;
  left: 0;
  width: 44rem;
  height: 15rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p:nth-of-type(3)::after {
  position: absolute;
  content: "";
  background: url(/images/Capa\ 24.png);
  background-size: cover;
  top: 5rem;
  left: -20px;
  width: 49rem;
  height: 2rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p span {
  color: #00E37F;
  font-size: 6rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: end;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info p {
  position: relative;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info p::after {
  content: "";
  position: absolute;
  background: url(/images/Capa\ 13.png);
  background-size: cover;
  width: 25rem;
  height: 12rem;
  top: -3rem;
  left: -4rem;
}
body #sectionHome .home__container .map {
  padding-top: 25rem;
  padding-bottom: 25rem;
}
body #sectionHome .home__container .map .map__container .map__container--content {
  position: relative;
}
body #sectionHome .home__container .map .map__container .map__container--content .iconos__container {
  position: absolute;
  top: -27rem;
  left: 52%;
  /* transform: translate(10px, 10px); */
  display: flex;
  gap: 14rem;
  transform: translateX(-50%);
}
body #sectionHome .home__container .map .map__container .map__container--content .iconos__container .icono {
  z-index: 5;
}
body #sectionHome .home__container .map .map__container .map__container--content .iconos__container .icono:nth-of-type(1) {
  left: 10rem;
  top: -34vh;
}
body #sectionHome .home__container .map .map__container .map__container--content .iconos__container .icono:nth-of-type(2) {
  left: 40rem;
  top: -34vh;
}
body #sectionHome .home__container .map .map__container .map__container--content .iconos__container .icono:nth-of-type(3) {
  right: 10rem;
  top: -34vh;
}
body #sectionHome .home__container .map .map__container .map__container--content .iconos__container .icono img {
  height: 15rem;
}
body #sectionHome .home__container .map .map__container .map__container--content .lines {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13rem;
  z-index: 1;
}
body #sectionHome .home__container .map .map__container .map__container--content .lines img {
  height: 40rem;
}
body #sectionHome .home__container .map .map__container .map__container--content .logo {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body #sectionHome .home__container .map .map__container .map__container--content .logo img {
  height: 6rem;
  filter: brightness(100) grayscale(1);
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container {
  display: flex;
  justify-content: space-evenly;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card {
  background-color: #00E37F;
  width: 20rem;
  height: 25rem;
  position: absolute;
  border-radius: 2rem;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card .imagen {
  position: absolute;
  bottom: -40px;
  right: -45px;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card .imagen img {
  height: 15rem;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card:nth-of-type(1) {
  top: 30vh;
  left: 0vw;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card:nth-of-type(2) {
  top: 30vh;
  left: 19vw;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card:nth-of-type(3) {
  top: 30vh;
  left: 41vw;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card:nth-of-type(4) {
  top: 30vh;
  left: 60vw;
}
body #sectionHome .home__container .map .map__container .map__container--content .cards__container .card .text {
  padding: 3rem 2rem;
  font-weight: bold;
  font-size: 2rem;
}
body #sectionServicios .servicios__container {
  padding-left: 12vw;
  padding-right: 12vw;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container {
  height: 100vh;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content {
  position: relative;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--texto {
  position: absolute;
  top: 30vh;
  color: white;
  font-weight: 900;
  font-size: 10rem;
  line-height: 9rem;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--texto span {
  color: #00E37F;
  font-size: 7rem;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--img {
  position: absolute;
  left: 37vw;
  top: 5vw;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--img img {
  height: 20rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--title h3 {
  color: #00E37F;
  font-weight: 900;
  font-size: 4rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--content {
  margin-top: 10rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--content .pilar {
  display: flex;
  margin-bottom: 5rem;
  border-bottom: 2px solid white;
  padding-bottom: 5rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--content .pilar .pilar--img {
  padding-left: 6rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--content .pilar .pilar--img img {
  height: 10rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--content .pilar .pilar--texto span {
  font-weight: bold;
  margin-bottom: 1rem;
}
body #sectionServicios .servicios__container .servicios__container--pilares .pilares__container--content .pilar .pilar--texto p {
  margin: 0;
  margin-top: 2rem;
}
body #sectionNosotros .nosotros__container {
  padding-right: 20vw;
  padding-left: 4vw;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero {
  height: 100vh;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content {
  position: relative;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--img {
  position: absolute;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--img img {
  height: 40rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--text {
  font-size: 10rem;
  font-weight: 900;
  line-height: 9rem;
  position: absolute;
  top: 35vh;
  left: 35vw;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--text span {
  color: #00E37F;
  font-size: 7rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--sabias .sabias__container .sabias__container--title h3 {
  color: #00E37F;
  font-size: 6rem;
  font-weight: 900;
}
body #sectionNosotros .nosotros__container .nosotros__container--sabias .sabias__container .sabias__container--content {
  margin-top: 10rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--sabias .sabias__container .sabias__container--content .sabias--info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--sabias .sabias__container .sabias__container--content .sabias--info .text {
  width: 60%;
  font-size: 2.5rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--sabias .sabias__container .sabias__container--content .sabias--info .imagen {
  width: 30%;
}
body #sectionNosotros .nosotros__container .nosotros__container--sabias .sabias__container .sabias__container--content .sabias--info .imagen img {
  height: 20rem;
}

.dia {
  background-color: white;
}
.dia .content--title p {
  color: black !important;
}
.dia .content--info p {
  color: black !important;
}
.dia .content--logo img {
  filter: grayscale(1) !important;
}
.dia .logo img {
  filter: grayscale(1) !important;
}
.dia .content--texto {
  color: black !important;
}
.dia .pilar {
  border-bottom: 2px solid black !important;
}
.dia .pilar--texto {
  color: black !important;
}
.dia .hero--text {
  color: black !important;
}
.dia .sabias__container--content {
  color: black !important;
}

/*# sourceMappingURL=styles.css.map */
