@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #1B1B1B;
}
body::-webkit-scrollbar {
  display: none;
}
body .header .header__container div {
  position: fixed;
  cursor: pointer;
  width: 6vw;
  height: 0vh;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: end;
  justify-content: center;
}
body .header .header__container div .name {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 7rem;
}
body .header .header__container div .name.pNosotros {
  position: relative;
}
body .header .header__container div .name.pNosotros::before {
  content: "";
  position: absolute;
  background: url(/images/flechita.png);
  background-size: cover;
  width: 3rem;
  height: 23px;
  top: -45px;
  left: 6px;
  transform: rotate(78deg);
}
body .header .header__container div .name.pServicios {
  position: relative;
}
body .header .header__container div .name.pServicios::before {
  content: "";
  position: absolute;
  background: url(/images/flechita.png);
  background-size: cover;
  width: 3rem;
  height: 23px;
  top: -45px;
  left: 6px;
  transform: rotate(78deg);
}
body .header .header__container div .name.pHome {
  position: relative;
}
body .header .header__container div .name.pHome::before {
  content: "";
  position: absolute;
  background: url(/images/flechita.png);
  background-size: cover;
  width: 3rem;
  height: 23px;
  top: -45px;
  left: 6px;
  transform: rotate(78deg);
}
body .header .header__container div#nosotros {
  background-color: #FF8888;
  z-index: 10;
  transition: all 0.7s ease;
}
body .header .header__container div#servicios {
  background-color: #0054F0;
  left: 6vw;
  z-index: 9;
  transition: all 0.7s ease;
}
body .header .header__container div#home {
  background-color: #00E37F;
  left: 0;
  z-index: 8;
  transition: all 0.7s ease;
}
body .header .header__container--content {
  padding: 0 19vw;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header .header__container--content .content--logo img {
  height: 6rem;
  filter: brightness(100) grayscale(1);
}
body .header .header__container--content .content--contacto a {
  background-color: #FF8888;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4rem;
  text-decoration: none;
  gap: 7rem;
  padding: 0.7rem 1rem;
}
body .header .header__container--content .content--contacto a p {
  margin: 0;
}
body #sectionHome, body #sectionNosotros, body #sectionServicios {
  color: white;
  display: none;
}
body #sectionHome.active, body #sectionNosotros.active, body #sectionServicios.active {
  display: block;
}
body #sectionHome .header__container--content, body #sectionNosotros .header__container--content, body #sectionServicios .header__container--content {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #sectionHome .header__container--content .content--logo, body #sectionNosotros .header__container--content .content--logo, body #sectionServicios .header__container--content .content--logo {
  position: relative;
}
body #sectionHome .header__container--content .content--logo p, body #sectionNosotros .header__container--content .content--logo p, body #sectionServicios .header__container--content .content--logo p {
  color: #00E37F;
  font-weight: 800;
  font-size: 6rem;
  margin: 0;
}
body #sectionHome .header__container--content .content--logo p:nth-of-type(2), body #sectionNosotros .header__container--content .content--logo p:nth-of-type(2), body #sectionServicios .header__container--content .content--logo p:nth-of-type(2) {
  color: #F2E8DE;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  right: -5rem;
  bottom: -2rem;
}
body #sectionHome .header__container--content .content--logo img, body #sectionNosotros .header__container--content .content--logo img, body #sectionServicios .header__container--content .content--logo img {
  height: 6rem;
  filter: brightness(100) grayscale(1);
}
body #sectionHome .header__container--content .content--contacto a, body #sectionNosotros .header__container--content .content--contacto a, body #sectionServicios .header__container--content .content--contacto a {
  background-color: #FF8888;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4rem;
  text-decoration: none;
  gap: 7rem;
  padding: 0.7rem 1rem;
}
body #sectionHome .header__container--content .content--contacto a p, body #sectionNosotros .header__container--content .content--contacto a p, body #sectionServicios .header__container--content .content--contacto a p {
  margin: 0;
}
body #sectionHome .home__container {
  padding-left: 20vw;
  padding-right: 4vw;
}
body #sectionHome .home__container .home__container--hero {
  height: 75vh;
}
body #sectionHome .home__container .home__container--hero .hero__content {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title {
  line-height: 9rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p {
  color: #F2E8DE;
  font-weight: 900;
  font-size: 8rem;
  margin: 0;
  position: relative;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p:nth-of-type(1) {
  font-size: 3rem;
  font-weight: 400;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--title p span {
  color: #00E37F;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info {
  margin-top: 4rem;
  display: flex;
  justify-content: end;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info img {
  height: 20rem;
  margin-right: 10rem;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info p {
  position: relative;
}
body #sectionHome .home__container .home__container--hero .hero__content .content--info p::after {
  content: "";
  position: absolute;
  background: url(/images/Capa\ 13.png);
  background-size: cover;
  width: 25rem;
  height: 12rem;
  top: -3rem;
  left: -4rem;
}
body #sectionHome .home__container .video-funciona .video__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
body #sectionHome .home__container .video-funciona .video__container .video--content iframe {
  border-radius: 3rem;
}
body #sectionHome .home__container .video-funciona .video__container .video--info {
  color: #F2E8DE;
  padding-left: 7rem;
}
body #sectionHome .home__container .video-funciona .video__container .video--info h3 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
}
body #sectionHome .home__container .video-funciona .video__container .video--info ul li {
  margin-bottom: 4rem;
  list-style: none;
}
body #sectionHome .home__container .video-funciona .video__container .video--info ul li::before {
  content: url(/images/flecha-verde.png);
  margin-left: -4rem;
  width: 1em;
  margin-right: 1rem;
  margin-top: 1rem;
}
body #sectionHome .home__container .cards {
  margin-top: 10rem;
}
body #sectionHome .home__container .cards .cards__container {
  display: flex;
  justify-content: space-around;
}
body #sectionHome .home__container .cards .cards__container .card {
  background-color: #00E37F;
  color: black;
  position: relative;
  border-radius: 1rem;
  width: 20rem;
  height: 25rem;
}
body #sectionHome .home__container .cards .cards__container .card .card--text {
  font-weight: 900;
  padding: 2rem;
  font-size: 2rem;
}
body #sectionHome .home__container .cards .cards__container .card .card--img img {
  height: 20rem;
  position: absolute;
  bottom: -5rem;
  right: -5rem;
}
body #sectionHome .home__container .exito {
  margin-top: 15rem;
}
body #sectionHome .home__container .exito .exito__container {
  display: flex;
  align-items: center;
}
body #sectionHome .home__container .exito .exito__container .exito__content {
  padding-right: 15rem;
}
body #sectionHome .home__container .exito .exito__container .exito__content p {
  font-size: 4rem;
  font-weight: 900;
}
body #sectionHome .home__container .exito .exito__container .exito__content p:nth-of-type(2) {
  font-size: 6rem;
  line-height: 8rem;
}
body #sectionHome .home__container .exito .exito__container .exito__content p span {
  color: #00E37F;
  font-size: 9rem;
}
body #sectionHome .home__container .exito .exito__container .exito__video iframe {
  border-radius: 3rem;
}
body #sectionHome .home__container .contacto {
  margin-top: 15rem;
}
body #sectionHome .home__container .contacto .contacto__container .contacto--title {
  color: #F2E8DE;
  font-size: 4.5rem;
  font-weight: bold;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form {
  width: 50%;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form .form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form .form__input:last-of-type {
  align-items: flex-end;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form .form__input label {
  color: #F2E8DE;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form .form__input label::before {
  content: url(/images/flecha-verde.png);
  margin-right: 2rem;
  margin-left: -5rem;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form .form__input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00E37F;
  height: 5rem;
  outline: none;
  color: #F2E8DE;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content form .form__input input[type=submit] {
  background-color: #00E37F;
  border-radius: 4rem;
  width: 15rem;
}
body #sectionHome .home__container .contacto .contacto__container .contacto__container--content .contacto--img img {
  margin-right: 10rem;
}
body #sectionServicios .servicios__container {
  padding-left: 12vw;
  padding-right: 12vw;
}
body #sectionServicios .servicios__container .content--logo p {
  color: #0055F0;
}
body #sectionServicios .servicios__container .content--logo p:last-of-type {
  font-size: 2rem;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content {
  position: relative;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--texto {
  margin-top: 10rem;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--texto p {
  top: 30vh;
  color: #F2E8DE;
  font-weight: 900;
  font-size: 10rem;
  line-height: 8rem;
  margin: 0;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--texto p span {
  color: #0054F0;
  font-size: 10rem;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--texto p:first-of-type {
  font-size: 2rem;
  font-weight: 400;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--img {
  position: absolute;
  left: 37vw;
  top: 0vw;
}
body #sectionServicios .servicios__container .servicios__container--hero .hero__container--content .content--img img {
  height: 40rem;
}
body #sectionServicios .servicios__container .ventajas {
  margin-top: 20rem;
}
body #sectionServicios .servicios__container .ventajas .ventajas__container {
  display: flex;
  align-items: center;
}
body #sectionServicios .servicios__container .ventajas .ventajas__container .ventajas__container--info .info--title {
  font-weight: 900;
  color: #F2E8DE;
  font-size: 4.5rem;
}
body #sectionServicios .servicios__container .ventajas .ventajas__container .ventajas__container--info .info--list {
  margin-top: 5rem;
  width: 70%;
}
body #sectionServicios .servicios__container .ventajas .ventajas__container .ventajas__container--info .info--list ul li {
  list-style: none;
  margin-bottom: 3rem;
  color: #F2E8DE;
}
body #sectionServicios .servicios__container .ventajas .ventajas__container .ventajas__container--info .info--list ul li::before {
  content: url(/images/Rectángulo\ 6\ 1.png);
  margin-left: -5.5rem;
  margin-right: 2rem;
}
body #sectionServicios .servicios__container .ventajas .ventajas__container .ventajas--img img {
  height: 50rem;
  margin-right: -10vw;
}
body #sectionServicios .servicios__container .fichero {
  margin-top: 10rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container {
  background-color: #F2E8DE;
  border-radius: 3rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero__container--content {
  display: flex;
  padding: 5rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero__container--content .fichero--img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero__container--content .fichero--img img {
  height: 20rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero__container--content .fichero--info {
  color: black;
  width: 50%;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero__container--content .fichero--info .title {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 5rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero--menu {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero--menu .ficha {
  background-color: black;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  width: 12rem;
  height: 6rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero--menu .ficha:hover {
  height: 8rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero--menu .ficha img {
  height: 2rem;
}
body #sectionServicios .servicios__container .fichero .fichero__container .fichero--menu .ficha.active {
  height: 10rem;
}
body #sectionServicios .servicios__container .contacto {
  margin-top: 15rem;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto--title {
  color: #F2E8DE;
  font-size: 4.5rem;
  font-weight: bold;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form {
  width: 50%;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form .form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form .form__input:last-of-type {
  align-items: flex-end;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form .form__input label {
  color: #F2E8DE;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form .form__input label::before {
  content: url(/images/Rectángulo\ 6\ 1.png);
  margin-right: 2rem;
  margin-left: -5rem;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form .form__input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0054F0;
  height: 5rem;
  outline: none;
  color: #F2E8DE;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content form .form__input input[type=submit] {
  background-color: #0054F0;
  border-radius: 4rem;
  width: 15rem;
}
body #sectionServicios .servicios__container .contacto .contacto__container .contacto__container--content .contacto--img img {
  margin-right: 10rem;
}
body #sectionNosotros .nosotros__container {
  padding-right: 20vw;
  padding-left: 4vw;
}
body #sectionNosotros .nosotros__container .content--logo p {
  color: #FF8888;
}
body #sectionNosotros .nosotros__container .content--logo p:last-of-type {
  font-size: 2rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero {
  height: 100vh;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content {
  position: relative;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--img {
  position: absolute;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--img img {
  height: 40rem;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--text {
  font-size: 10rem;
  font-weight: 900;
  line-height: 9rem;
  position: absolute;
  top: 35vh;
  left: 35vw;
}
body #sectionNosotros .nosotros__container .nosotros__container--hero .hero__container--content .hero--text span {
  color: #00E37F;
  font-size: 7rem;
}
body #sectionNosotros .nosotros__container .contacto {
  margin-top: 15rem;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto--title {
  color: #F2E8DE;
  font-size: 4.5rem;
  font-weight: bold;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form {
  width: 50%;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form .form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form .form__input:last-of-type {
  align-items: flex-end;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form .form__input label {
  color: #F2E8DE;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form .form__input label::before {
  content: url(/images/Rectángulo\ 6\ 1.png);
  margin-right: 2rem;
  margin-left: -5rem;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form .form__input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FF8888;
  height: 5rem;
  outline: none;
  color: #F2E8DE;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content form .form__input input[type=submit] {
  background-color: #FF8888;
  border-radius: 4rem;
  width: 15rem;
}
body #sectionNosotros .nosotros__container .contacto .contacto__container .contacto__container--content .contacto--img img {
  margin-right: 10rem;
}
body .footer {
  background-color: #F2E8DE;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  margin-top: 10rem;
}
body .footer .footer__container {
  padding-left: 20vw;
  padding-right: 4vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
body .footer .footer__container .logo img {
  height: 5rem;
  filter: grayscale(1) brightness(0);
}
body .footer .footer__container .text {
  margin-top: 5rem;
  font-size: 6rem;
  font-weight: 900;
  line-height: 60px;
}
body .footer .footer__container .text span {
  color: #00E37F;
}

.dia {
  background-color: white;
}
.dia .content--title p {
  color: black !important;
}
.dia .content--info p {
  color: black !important;
}
.dia .content--logo img {
  filter: grayscale(1) !important;
}
.dia .logo img {
  filter: grayscale(1) !important;
}
.dia .content--texto {
  color: black !important;
}
.dia .pilar {
  border-bottom: 2px solid black !important;
}
.dia .pilar--texto {
  color: black !important;
}
.dia .hero--text {
  color: black !important;
}
.dia .sabias__container--content {
  color: black !important;
}

/*# sourceMappingURL=styles.css.map */
