$rosa: #FF8888;
$verde: #00E37F;
$azul: #0054F0;



@mixin mobile {
    @media (max-width: 760px) { @content; }
  }


  @mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
  }
  
  @mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
  }