@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #1B1B1B;
    &::-webkit-scrollbar {
        display: none;
    }
    .header {
        .header__container {
            div {
                position: fixed;
                cursor: pointer;
                width: 6vw;
                height: 0vh;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: end;
                justify-content: center;
                .name {
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);
                    font-size: 3rem;
                    transition: all .3s ease-in-out;
                    margin-bottom: 7rem;
                    &.pNosotros {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            background: url(/images/mas.png);
                            background-size: cover;
                            width: 3rem;
                            height: 34px;
                            top: -45px;
                            left: 3px;
                        }
                    }
                    &.pServicios {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            background: url(/images/flechita.png);
                            background-size: cover;
                            width: 3rem;
                            height: 23px;
                            top: -45px;
                            left: 6px;
                            transform: rotate(78deg)
                        }
                    }
                }
                &#nosotros {
                    background-color: $rosa;
                    z-index: 10;
                    transition: all 0.7s ease;
                }
                &#servicios {
                    background-color: $azul;
                    left: 6vw;
                    z-index: 9;
                    transition: all 0.7s ease;
                    
                }
                &#home {
                    background-color: $verde;
                    left: 0;
                    z-index: 8;
                    transition: all 0.7s ease;
                }
            }
        }
        .header__container--content {
            padding: 0 19vw;
            padding-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content--logo {
                img {
                    height: 6rem;
                    filter: brightness(100) grayscale(1);
                }

            }
            .content--contacto {
                a {
                    background-color: $rosa;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4rem;
                    text-decoration: none;
                    gap: 7rem;
                    padding: 0.7rem 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    #sectionHome, #sectionNosotros, #sectionServicios {
        color: white;
        display: none;
        &.active {
            display: block;

        }

        .header__container--content {
            padding-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content--logo {
                img {
                    height: 6rem;
                    filter: brightness(100) grayscale(1);
                }

            }
            .content--contacto {
                a {
                    background-color: $rosa;
                    color: white!important;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4rem;
                    text-decoration: none;
                    gap: 7rem;
                    padding: 0.7rem 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }

    }

    #sectionHome {
        .home__container {
            padding-left: 20vw;
            padding-right: 4vw;
            .home__container--hero {
                height: 75vh;
                .hero__content {
                    margin-top: 10rem;
                    .content--title {
                        line-height: 9rem;
                        p {
                            color: white;
                            font-weight: 900;
                            font-size: 8rem;
                            margin: 0;
                            position: relative;
                            &:nth-of-type(1) {
                                &::after {
                                    position: absolute;
                                    content: "";
                                    background: url(/images/Capa\ 23.png);
                                    background-size: cover;
                                    top: -3rem;
                                    left: 0;
                                    width: 44rem;
                                    height: 15rem;
                                }
                            }
                            &:nth-of-type(3) {
                                &::after {
                                    position: absolute;
                                    content: "";
                                    background: url(/images/Capa\ 24.png);
                                    background-size: cover;
                                    top: 5rem;
                                    left: -20px;
                                    width: 49rem;
                                    height: 2rem;
                                }
                            }
                            span {
                                color: $verde;
                                font-size: 6rem;
                            }
                        }
                    }
                    .content--info {
                        width: 100%;
                        margin-top: 4rem;
                        display: flex;
                        justify-content: end;
                        p {
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                background: url(/images/Capa\ 13.png);
                                background-size: cover;
                                width: 25rem;
                                height: 12rem;
                                top: -3rem;
                                left: -4rem;
                            }
                        }
                    }
                }
            }

            .map {
                padding-top: 25rem;
                padding-bottom: 25rem;
                .map__container {
                    .map__container--content {
                        position: relative;
                        .iconos__container {
                            position: absolute;
                            top: -27rem;
                            left: 52%;
                            /* transform: translate(10px, 10px); */
                            display: flex;
                            gap: 14rem;
                            transform: translateX(-50%);


                            .icono {
                                // position: absolute;
                                z-index: 5;
                                &:nth-of-type(1) {
                                    left: 10rem;
                                    top: -34vh;
                                }
                                &:nth-of-type(2) {
                                    left: 40rem;
                                    top: -34vh;
                                }
                                &:nth-of-type(3) {
                                    right: 10rem;
                                    top: -34vh;
                                }
                                img {
                                    height: 15rem;
                                }
                            }
                        }
                        .lines {
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -13rem;
                            z-index: 1;
                            img {
                                height: 40rem;
                            }

                        }
                        .logo {
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            img {
                                height: 6rem;
                                filter: brightness(100) grayscale(1);
                            }
                        }
                        .cards__container {
                            display: flex;
                            justify-content: space-evenly;

                            .card {
                                background-color: $verde;
                                width: 20rem;
                                height: 25rem;
                                position: absolute;
                                border-radius: 2rem;
                                .imagen {
                                    position: absolute;
                                    bottom: -40px;
                                    right: -45px;
                                    img {
                                        height: 15rem;
                                    }
                                }
                                &:nth-of-type(1) {
                                    top: 30vh;
                                    left: 0vw;
                                }
                                &:nth-of-type(2) {
                                    top: 30vh;
                                    left: 19vw;
                                }
                                &:nth-of-type(3) {
                                    top: 30vh;
                                    left: 41vw;
                                }
                                &:nth-of-type(4) {
                                    top: 30vh;
                                    left: 60vw;
                                }
                                .text {
                                    padding: 3rem 2rem;
                                    font-weight: bold;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #sectionServicios {
        .servicios__container {
            padding-left: 12vw;
            padding-right: 12vw;

            .servicios__container--hero {
                .hero__container {
                    height: 100vh;
                    &--content {
                        position: relative;
                        .content--texto {
                            position: absolute;
                            top: 30vh;
                            color: white;
                            font-weight: 900;
                            font-size: 10rem;
                            line-height: 9rem;
                            span {
                                color: $verde;
                                font-size: 7rem;
                            }
                        }
                        .content--img {
                            position: absolute;
                            left: 37vw;
                            top: 5vw;
                            img {
                                height: 20rem;
                            }
                        }
                    }
                }
            }
            .servicios__container--pilares {
                .pilares__container {
                    &--title {
                        h3 {
                            color: $verde;
                            font-weight: 900;
                            font-size: 4rem;
                        }
                    }
                    &--content {
                        margin-top: 10rem;
                        .pilar {
                            display: flex;
                            margin-bottom: 5rem;
                            border-bottom: 2px solid white;
                            padding-bottom: 5rem;
                            .pilar--img {
                                padding-left: 6rem;
                                img {
                                    height: 10rem;
                                }
                            }
                            .pilar--texto {
                                span {
                                    font-weight: bold;
                                    margin-bottom: 1rem;
                                }
                                p {
                                    margin: 0;
                                    margin-top: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #sectionNosotros {
        .nosotros__container {
            padding-right: 20vw;
            padding-left: 4vw;

            .nosotros__container--hero {
                height: 100vh;
                .hero__container {
                    &--content {
                        position: relative;
                        .hero--img {
                            position: absolute;
                            img {
                                height: 40rem;
                            }
                        }
                        .hero--text {
                            font-size: 10rem;
                            font-weight: 900;
                            line-height: 9rem;
                            position: absolute;
                            top: 35vh;
                            left: 35vw;
                            span {
                                color: $verde;
                                font-size: 7rem;
                            }
                        }
                    }
                }
            }

            .nosotros__container--sabias {
                .sabias__container {
                    .sabias__container--title h3 {
                        color: $verde;
                        font-size: 6rem;
                        font-weight: 900;
                    }

                    .sabias__container--content {
                        margin-top: 10rem;
                        .sabias--info {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 15rem;
                            .text {
                                width: 60%;
                                font-size: 2.5rem;
                            }
                            .imagen {
                                width: 30%;
                                img {
                                    height: 20rem;
                                }
                            }
                        }
                    }
                }

            }



        }
    }

}



.dia {
    background-color: white;
    .content--title p{
        color: black!important;
    }
    .content--info p {
        color: black!important;
    }
    .content--logo img {
        filter: grayscale(1)!important;
    }
    .logo img {
        filter: grayscale(1)!important;
    }

    .content--texto {
        color: black!important;
    }
    .pilar {
        border-bottom: 2px solid black!important;
    }
    .pilar--texto {
        color: black!important;
    }

    .hero--text {
        color: black!important;
    }

    .sabias__container--content {
        color: black!important;
    }
}