@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #1B1B1B;
    &::-webkit-scrollbar {
        display: none;
    }
    .header {
        .header__container {
            div {
                position: fixed;
                cursor: pointer;
                width: 6vw;
                height: 0vh;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: end;
                justify-content: center;
                .name {
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);
                    font-size: 3rem;
                    transition: all .3s ease-in-out;
                    margin-bottom: 7rem;
                    &.pNosotros {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            background: url(/images/flechita.png);
                            background-size: cover;
                            width: 3rem;
                            height: 23px;
                            top: -45px;
                            left: 6px;
                            transform: rotate(78deg)
                        }
                    }
                    &.pServicios {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            background: url(/images/flechita.png);
                            background-size: cover;
                            width: 3rem;
                            height: 23px;
                            top: -45px;
                            left: 6px;
                            transform: rotate(78deg)
                        }
                    }
                    &.pHome {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            background: url(/images/flechita.png);
                            background-size: cover;
                            width: 3rem;
                            height: 23px;
                            top: -45px;
                            left: 6px;
                            transform: rotate(78deg)
                        }
                    }
                }
                &#nosotros {
                    background-color: $rosa;
                    z-index: 10;
                    transition: all 0.7s ease;
                }
                &#servicios {
                    background-color: $azul;
                    left: 6vw;
                    z-index: 9;
                    transition: all 0.7s ease;
                    
                }
                &#home {
                    background-color: $verde;
                    left: 0;
                    z-index: 8;
                    transition: all 0.7s ease;
                }
            }
        }
        .header__container--content {
            padding: 0 19vw;
            padding-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content--logo {
                img {
                    height: 6rem;
                    filter: brightness(100) grayscale(1);
                }

            }
            .content--contacto {
                a {
                    background-color: $rosa;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4rem;
                    text-decoration: none;
                    gap: 7rem;
                    padding: 0.7rem 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    #sectionHome, #sectionNosotros, #sectionServicios {
        color: white;
        display: none;
        &.active {
            display: block;

        }

        .header__container--content {
            padding-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content--logo {
                position: relative;
                p {
                    color: #00E37F;
                    font-weight: 800;
                    font-size: 6rem;
                    margin: 0;
                    &:nth-of-type(2) {
                        color: #F2E8DE;
                        font-size: 2rem;
                        font-weight: 400;
                        position: absolute;
                        right: -5rem;
                        bottom: -2rem;
                    }
                }
                img {
                    height: 6rem;
                    filter: brightness(100) grayscale(1);
                }

            }
            .content--contacto {
                a {
                    background-color: $rosa;
                    color: white!important;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4rem;
                    text-decoration: none;
                    gap: 7rem;
                    padding: 0.7rem 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }

    }

    #sectionHome {

        .home__container {
            padding-left: 20vw;
            padding-right: 4vw;
            .home__container--hero {
                height: 75vh;
                .hero__content {
                    margin-top: 10rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .content--title {
                        line-height: 9rem;
                        p {
                            color: #F2E8DE;
                            font-weight: 900;
                            font-size: 8rem;
                            margin: 0;
                            position: relative;
                            &:nth-of-type(1) {
                                font-size: 3rem;
                                font-weight: 400;
                            }

                            span {
                                color: $verde;
                            }
                        }
                    }
                    .content--info {

                        margin-top: 4rem;
                        display: flex;
                        justify-content: end;
                        img {
                            height: 20rem;
                            margin-right: 10rem;
                        }
                        p {
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                background: url(/images/Capa\ 13.png);
                                background-size: cover;
                                width: 25rem;
                                height: 12rem;
                                top: -3rem;
                                left: -4rem;
                            }
                        }
                    }
                }

            }

            .video-funciona {
                .video__container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    .video--content {
                        iframe {
                            border-radius: 3rem;
                        }
                    }
                    .video--info {
                        color: #F2E8DE;
                        padding-left: 7rem;
                        h3 {
                            font-weight: bold;
                            font-size: 3rem;
                            margin-bottom: 3rem;
                        }
                        ul {
                            li {
                                margin-bottom: 4rem;
                                list-style: none;
                                &::before {
                                    content: url(/images/flecha-verde.png);
                                    margin-left: -4rem;
                                    width: 1em;
                                    margin-right: 1rem;
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }
                }
            }

            .cards {
                margin-top: 10rem;
                .cards__container {
                    display: flex;
                    justify-content: space-around;
                    .card {
                        background-color: #00E37F;
                        color: black;
                        position: relative;
                        border-radius: 1rem;
                        width: 20rem;
                        height: 25rem;
                        .card--text {
                            font-weight: 900;
                            padding: 2rem;
                            font-size: 2rem;
                        }
                        .card--img {
                            img {
                                height: 20rem;
                                position: absolute;
                                bottom: -5rem;
                                right: -5rem;
                            }
                        }
                    }
                }
            }

            .exito {
                margin-top: 15rem;
                .exito__container {
                    display: flex;
                    align-items: center;
                    .exito__content {
                        padding-right: 15rem;
                        p {
                            font-size: 4rem;
                            font-weight: 900;
                            &:nth-of-type(2) {
                                font-size: 6rem;
                                line-height: 8rem;
                            }
                            span {
                                color: #00E37F;
                                font-size: 9rem;
                            }
                        }
                    }
                    .exito__video {
                        iframe {
                            border-radius: 3rem;
                        }
                    }
                }
            }

            .contacto {
                margin-top: 15rem;
                .contacto__container {
                    .contacto--title {
                        color: #F2E8DE;
                        font-size: 4.5rem;
                        font-weight: bold;
                    }
                    .contacto__container--content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 10rem;
                        form {
                            width: 50%;

                            .form__input {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 3rem;
                                &:last-of-type {
                                    align-items: flex-end;
                                }

                                label {
                                    color: #F2E8DE;
                                    &::before {
                                        content: url(/images/flecha-verde.png);
                                        margin-right: 2rem;
                                        margin-left: -5rem;

                                    }
                                }
                                input {
                                    background-color: transparent;
                                    border: none;
                                    border-bottom: 2px solid #00E37F;
                                    height: 5rem;
                                    outline: none;
                                    color: #F2E8DE;
                                }
                                input[type="submit"] {
                                    background-color: #00E37F;
                                    border-radius: 4rem;
                                    width: 15rem;
                                }
                            }
                        }
                        .contacto--img {
                            img {
                                margin-right: 10rem;
                            }
                        }
                    }
                }
            }


        }
    }

    #sectionServicios {
        .servicios__container {
            padding-left: 12vw;
            padding-right: 12vw;
            .content--logo {
                p {
                    color: #0055F0;
                    &:last-of-type {
                        font-size: 2rem;
                    }
                }
            }

            .servicios__container--hero {
                .hero__container {

                    &--content {
                        position: relative;
                        .content--texto {
                            margin-top: 10rem;
                            p {

                                top: 30vh;
                                color: #F2E8DE;
                                font-weight: 900;
                                font-size: 10rem;
                                line-height: 8rem;
                                margin: 0;
                                span {
                                    color: $azul;
                                    font-size: 10rem;
                                }
                                &:first-of-type {
                                    font-size: 2rem;
                                    font-weight: 400;
                                }

                            }
                        }
                        .content--img {
                            position: absolute;
                            left: 37vw;
                            top: 0vw;
                            img {
                                height: 40rem;
                            }
                        }
                    }
                }
            }

            .ventajas {
                margin-top: 20rem;
                .ventajas__container {
                    display: flex;
                    align-items: center;
                    
                    .ventajas__container--info {
                        .info--title {
                            font-weight: 900;
                            color: #F2E8DE;
                            font-size: 4.5rem;
                        }
                        .info--list {
                            margin-top: 5rem;
                            width: 70%;
                            ul {
                                li {
                                    list-style: none;
                                    margin-bottom: 3rem;
                                    color: #F2E8DE;
                                    &::before {
                                        content: url(/images/Rectángulo\ 6\ 1.png);
                                        margin-left: -5.5rem;
                                        margin-right: 2rem;
                                    }
                                }
                            }
                        }
                    }
                    .ventajas--img {
                        img {
                            height: 50rem;
                            margin-right: -10vw;
                        }
                    }
                }
            }

            .fichero {
                margin-top: 10rem;
                .fichero__container {
                    background-color: #F2E8DE;
                    border-radius: 3rem;
                    .fichero__container--content {
                        display: flex;
                        padding: 5rem;
                        .fichero--img {
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                height: 20rem;
                            }
                        }
                        .fichero--info {
                            color: black;
                            width: 50%;
                            .title {
                                font-size: 5rem;
                                font-weight: 900;
                                margin-bottom: 5rem;
                            }

                        }
                    }
                    .fichero--menu {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: flex-end;
                        .ficha {
                            background-color: black;
                            border-top-left-radius: 3rem;
                            border-top-right-radius: 3rem;
                            width: 12rem;
                            height: 6rem;
                            padding: 1rem;
                            display: flex;
                            justify-content: space-between;
                            cursor: pointer;
                            transition: all .2s ease-in-out;
                            &:hover {
                                height: 8rem;
                            }
                            img {
                                height: 2rem;
                            }
                            &.active {
                                height: 10rem;
                            }
                        }
                    }
                }
            }

            .contacto {
                margin-top: 15rem;
                .contacto__container {
                    .contacto--title {
                        color: #F2E8DE;
                        font-size: 4.5rem;
                        font-weight: bold;
                    }
                    .contacto__container--content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 10rem;
                        form {
                            width: 50%;

                            .form__input {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 3rem;
                                &:last-of-type {
                                    align-items: flex-end;
                                }

                                label {
                                    color: #F2E8DE;
                                    &::before {
                                        content: url(/images/Rectángulo\ 6\ 1.png);
                                        margin-right: 2rem;
                                        margin-left: -5rem;

                                    }
                                }
                                input {
                                    background-color: transparent;
                                    border: none;
                                    border-bottom: 2px solid $azul;
                                    height: 5rem;
                                    outline: none;
                                    color: #F2E8DE;
                                }
                                input[type="submit"] {
                                    background-color: $azul;
                                    border-radius: 4rem;
                                    width: 15rem;
                                }
                            }
                        }
                        .contacto--img {
                            img {
                                margin-right: 10rem;
                            }
                        }
                    }
                }
            }
        }
    }

    #sectionNosotros {
        .nosotros__container {
            padding-right: 20vw;
            padding-left: 4vw;
            .content--logo {
                p {
                    color: $rosa;
                    &:last-of-type {
                        font-size: 2rem;
                    }
                }
            }

            .nosotros__container--hero {
                height: 100vh;
                .hero__container {
                    &--content {
                        position: relative;
                        .hero--img {
                            position: absolute;
                            img {
                                height: 40rem;
                            }
                        }
                        .hero--text {
                            font-size: 10rem;
                            font-weight: 900;
                            line-height: 9rem;
                            position: absolute;
                            top: 35vh;
                            left: 35vw;
                            span {
                                color: $verde;
                                font-size: 7rem;
                            }
                        }
                    }
                }
            }

            .contacto {
                margin-top: 15rem;
                .contacto__container {
                    .contacto--title {
                        color: #F2E8DE;
                        font-size: 4.5rem;
                        font-weight: bold;
                    }
                    .contacto__container--content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 10rem;
                        form {
                            width: 50%;

                            .form__input {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 3rem;
                                &:last-of-type {
                                    align-items: flex-end;
                                }

                                label {
                                    color: #F2E8DE;
                                    &::before {
                                        content: url(/images/Rectángulo\ 6\ 1.png);
                                        margin-right: 2rem;
                                        margin-left: -5rem;

                                    }
                                }
                                input {
                                    background-color: transparent;
                                    border: none;
                                    border-bottom: 2px solid $rosa;
                                    height: 5rem;
                                    outline: none;
                                    color: #F2E8DE;
                                }
                                input[type="submit"] {
                                    background-color: $rosa;
                                    border-radius: 4rem;
                                    width: 15rem;
                                }
                            }
                        }
                        .contacto--img {
                            img {
                                margin-right: 10rem;
                            }
                        }
                    }
                }
            }




        }
    }

    .footer {
        background-color: #F2E8DE;
        border-top-right-radius: 4rem;
        border-top-left-radius: 4rem;
        margin-top: 10rem;
        .footer__container {
            padding-left: 20vw;
            padding-right: 4vw;
            padding-top: 5rem;
            padding-bottom: 5rem;
            .logo {
                img {
                    height: 5rem;
                    filter: grayscale(1) brightness(0);
                }
            }
            .text {
                margin-top: 5rem;
                font-size: 6rem;
                font-weight: 900;
                line-height: 60px;
                span {
                    color: #00E37F;
                }
            }
        }
    }

}



.dia {
    background-color: white;
    .content--title p{
        color: black!important;
    }
    .content--info p {
        color: black!important;
    }
    .content--logo img {
        filter: grayscale(1)!important;
    }
    .logo img {
        filter: grayscale(1)!important;
    }

    .content--texto {
        color: black!important;
    }
    .pilar {
        border-bottom: 2px solid black!important;
    }
    .pilar--texto {
        color: black!important;
    }

    .hero--text {
        color: black!important;
    }

    .sabias__container--content {
        color: black!important;
    }
}