@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: black;
    .header {
        .header__container {
            div {
                position: fixed;
                cursor: pointer;
                width: 8vw;
                height: 100vh;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: end;
                justify-content: center;
                .name {
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);
                    font-size: 3rem;
                    transition: all .3s ease-in-out;
                }
                &#nosotros {
                    background-color: $rosa;
                    z-index: 10;
                    transition: all 0.7s ease;
                }
                &#servicios {
                    background-color: $azul;
                    left: 8vw;
                    z-index: 9;
                    transition: all 0.7s ease;
                    
                }
                &#home {
                    background-color: $verde;
                    left: 0;
                    z-index: 8;
                    transition: all 0.7s ease;
                }
            }
        }
        .header__container--content {
            padding: 0 19vw;
            padding-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content--logo {
                img {
                    height: 6rem;
                    filter: brightness(100) grayscale(1);
                }

            }
            .content--contacto {
                a {
                    background-color: $rosa;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4rem;
                    text-decoration: none;
                    gap: 7rem;
                    padding: 0.7rem 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    #sectionHome, #sectionNosotros, #sectionServicios {
        color: white;
        display: none;
        &.active {
            display: block;

        }

        .header__container--content {
            padding-top: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content--logo {
                img {
                    height: 6rem;
                    filter: brightness(100) grayscale(1);
                }

            }
            .content--contacto {
                a {
                    background-color: $rosa;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4rem;
                    text-decoration: none;
                    gap: 7rem;
                    padding: 0.7rem 1rem;
                    p {
                        margin: 0;
                    }
                }
            }
        }

    }

    #sectionHome {
        .home__container {
            padding-left: 20vw;
            padding-right: 4vw;
            .home__container--hero {
                .hero__content {
                    margin-top: 10rem;
                    .content--title {
                        p {
                            color: white;
                            font-weight: 900;
                            font-size: 8rem;
                            margin: 0;
                            span {
                                color: $verde;
                                font-size: 6rem;
                            }
                        }
                    }
                    .content--info {
                        width: 100%;
                        margin-top: 4rem;
                        display: flex;
                        justify-content: end;
                    }
                }
            }

            .map {
                padding-top: 25rem;
                padding-bottom: 25rem;
                .map__container {
                    .map__container--content {
                        .iconos__container {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            .icono {
                                img {
                                    height: 10rem;
                                }
                            }
                        }
                        .logo {
                            display: flex;
                            justify-content: center;
                            margin-top: 10rem;
                            img {
                                height: 6rem;
                                filter: brightness(100) grayscale(1);
                            }
                        }
                        .cards__container {
                            display: flex;
                            justify-content: space-evenly;
                            margin-top: 10rem;

                            .card {
                                background-color: $verde;
                                width: 20rem;
                                height: 25rem;
                                .text {
                                    padding: 3rem 2rem;
                                    font-weight: bold;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #sectionServicios {
        .servicios__container {
            padding-left: 12vw;
            padding-right: 12vw;

            .servicios__container--hero {
                .hero__container {
                    height: 100vh;
                    &--content {
                        position: relative;
                        .content--texto {
                            position: absolute;
                            top: 30vh;
                            color: white;
                            font-weight: 900;
                            font-size: 10rem;
                            line-height: 9rem;
                            span {
                                color: $verde;
                                font-size: 7rem;
                            }
                        }
                        .content--img {
                            position: absolute;
                            left: 37vw;
                            top: 5vw;
                            img {
                                height: 20rem;
                            }
                        }
                    }
                }
            }
            .servicios__container--pilares {
                .pilares__container {
                    &--title {
                        h3 {
                            color: $verde;
                            font-weight: 900;
                            font-size: 4rem;
                        }
                    }
                    &--content {
                        margin-top: 10rem;
                        .pilar {
                            display: flex;
                            margin-bottom: 5rem;
                            border-bottom: 2px solid white;
                            padding-bottom: 5rem;
                            .pilar--img {
                                padding-left: 6rem;
                                img {
                                    height: 10rem;
                                }
                            }
                            .pilar--texto {
                                span {
                                    font-weight: bold;
                                    margin-bottom: 1rem;
                                }
                                p {
                                    margin: 0;
                                    margin-top: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #sectionNosotros {
        .nosotros__container {
            padding-right: 20vw;
            padding-left: 4vw;

        }
    }

}